
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border-radius: 1%;
  
 
}

body {
  font-family: 'playfair';
  color: hsl(23, 27%, 87%);
  background-color: rgba(10, 1, 9, 0.6);
  text-align: center;
  font-size: 40px;
  margin: 0;
  overflow: hidden;
}

  .button {
    margin-top: 0.5em;
    font-size: 1em;
    width: 5em;
    height: 2.0em;
    font-family: 'Chalkduster', cursive;
    color:rgb(71, 29, 68);
   cursor: pointer;
  }

  .button:hover{
    animation: shake 0.6s infinite;
  }

  @keyframes shake {
    0% {
      transform : translate(0px, 0px) rotate(0Deg);
    }
    25% {
      transform : translate(1px,1px) rotate(1Deg);
    }
    50% {
      transform : translate(-1px,-1px) rotate(-1Deg);
    }
    75% {
      transform : translate(2px,-1px) rotate(2Deg);
    }
    100% {
      transform : translate(-1px,1px) rotate(-1Deg);
    }
  }

  .hide {
    display: none;
  }

  .sizeMe {
    font-size: 20px;
    color: hsl(23, 27%, 87%);
    display: inline-block;
    padding: 20px;
    font-family:'Chalkduster';
  }

  .result {
    font-family:'Chalkduster';
    font-size: 30px;
    padding: 50px;
  }


